extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let Lionid = toShow._id
    - let LionBrand = toShow.Brand
    - let Lioncost = toShow.cost
    - let Lioncolor = toShow.size
  
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{Lionid}
    - let actionid = "/resource/Lion/" + Lionid
    form(id='LionForm', action= actionid, method="PUT")
      div.form-group
          label.LionAttr(for='Brand') Lion Brand
          input#Brand(type='text', name='Brand', value= LionBrand )
      div.form-group
          label.LionAttr(for='cost') Lion cost
          input#cost(type='number', name='cost', value= Lioncost )
      div.form-group
          label.LionAttr(for='size') Lion size
          input#size(type='text', name='size', value= Lionsize )
      input(type="submit")

  script.
    document.forms['LionForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      console.log(event.target)
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });